# Data
data/raw/*
data/processed/*

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
venv/

# Environment Variables
.env

# Models
*.pkl

# OS Files
.DS_Store
Thumbs.db